body {
	--background: #f8f9fa;
	--box-background: #e9ecef;
	--text-color: #4a4a4a;
	min-height: 100vh;
	background-color: var(--background);
	text-align: center;
	color: var(--text-color);
}

.subhead {
	margin-bottom: 1em;
}

#info {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
	font-size: 24px;
}

#infoMessage {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
}

#muteButtonSpan {
	position: absolute;
	top: 40px;
	right: 10px;
	cursor: pointer;
	font-size: 24px;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem;
}

.box {
	position: relative;
	max-width: 550px;
	height: auto;
	background-color: var(--box-background);
	color: var(--text-color);
	margin: 0 auto;
	border-radius: 10px;
}

.dropdown {
	margin: 0 auto;
}

.message {
	text-align: left;
}

.dropdown-item {
	cursor: pointer;
}

.cards {
	width: 100%;
}

.leftCard {
	transform: translateX(35%);
}

.rightCard {
	transform: translateX(-35%);
}

.resultsMessageDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	width: 45%;
	max-width: 250px;
}

@media only screen and (max-width: 550px) {
	#info {
		top: 20px;
		right: 30px;
	}

	#infoMessageButton {
		margin-right: 10px;
	}

	#muteButtonSpan {
		top: 70px;
		right: 30px;
	}

	#infoMessage {
		font-size: 0.85rem;
	}
}
