body {
	height: 100vh;
	background-color: #f8f9fa;
	text-align: center;
}

#info {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}

#infoMessage {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem;
}

.box {
	position: relative;
	max-width: 550px;
	height: auto;
	background-color: #e9ecef;
	margin: 0 auto;
	border-radius: 10px;
}

.dropdown {
	margin: 0 auto;
}

.message {
	text-align: left;
}

.dropdown-item {
	cursor: pointer;
}

.cards {
	width: 100%;
}

.leftCard {
	transform: translateX(35%);
}

.rightCard {
	transform: translateX(-35%);
}

.resultsMessageDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

#resultsMessage {
	align-self: center;
}

img {
	width: 45%;
	max-width: 250px;
}

@media only screen and (max-width: 550px) {
	#info {
		top: 20px;
		right: 30px;
	}
}
